<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriodic="300 seconds">
    <contextListener class="com.github.pandafolks.panda.bootstrap.LoggerStartupListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%20.20thread] %50.50logger{50}: %message%n%ex{full}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${MAIN_LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${MAIN_LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <maxFileSize>${MAIN_LOG_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAIN_LOG_MAX_HISTORY_DAYS}</maxHistory>
            <totalSizeCap>${MAIN_LOG_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%20.20thread] %50.50logger{50}: %message%n%ex{full}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="GATEWAY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${GATEWAY_TRAFFIC_LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${GATEWAY_TRAFFIC_LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <maxFileSize>${GATEWAY_TRAFFIC_LOG_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${GATEWAY_TRAFFIC_LOG_MAX_HISTORY_DAYS}</maxHistory>
            <totalSizeCap>${GATEWAY_TRAFFIC_LOG_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%20.20thread] %50.50logger{50}: %message%n%ex{full}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

<!--    gateway related loggers-->
    <logger name="org.http4s.server.middleware.Logger" additivity="false" level="INFO">
        <appender-ref ref="GATEWAY"/>
    </logger>

    <logger name="com.github.pandafolks.panda.gateway.BaseApiGatewayImpl" additivity="false" level="INFO">
        <appender-ref ref="GATEWAY"/>
    </logger>

    <logger name="com.github.pandafolks.panda.loadbalancer.HashLoadBalancerImpl" additivity="false" level="INFO">
        <appender-ref ref="GATEWAY"/>
    </logger>

    <logger name="com.github.pandafolks.panda.loadbalancer.RandomLoadBalancerImpl" additivity="false" level="INFO">
        <appender-ref ref="GATEWAY"/>
    </logger>

    <logger name="com.github.pandafolks.panda.loadbalancer.RoundRobinLoadBalancerImpl" additivity="false" level="INFO">
        <appender-ref ref="GATEWAY"/>
    </logger>
<!--    gateway related loggers-->

    <root level="INFO">
        <appender-ref ref="MAIN"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.mongodb.driver.connection" level="WARN" />
    <logger name="org.mongodb.driver.cluster" level="WARN" />
    <logger name="org.mongodb.driver.client" level="WARN" />
</configuration>
